<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Login</title>
    <script src="https://cdn.tailwindcss.com"></script>
  </head>
  <body>
    <!-- ====== Forms Section Start -->
    <section class="bg-[#F4F7FF] h-screen flex justify-center">
      <div
        class="container max-w-[525px] mx-auto text-center bg-white rounded-lg relative overflow-hidden py-16 px-10 sm:px-12 md:px-[60px] lg:px-16 shadow-2xl"
      >
        <div class="mb-10 md:mb-16 text-center">
          <a href="/index" class="inline-block max-w-[160px] mx-auto">
            <img src="../static/images/logo.png" alt="logo" />
          </a>
        </div>
        <form action="/login" method="post">
          <div class="mb-6">
            <input
              placeholder="Enter Email"
              name="email"
              type="email"
              id="email"
              class="text-md block px-3 py-2 rounded-lg w-full bg-white border-2 border-gray-300 placeholder-gray-600 shadow-md focus:placeholder-gray-500 focus:bg-white focus:border-gray-600 focus:outline-none"
            />
          </div>
          <div class="mb-6" x-data="{ show: true }">
            <div class="relative">
              <input
                placeholder="Enter Password"
                name="password"
                type="password"
                id="password"
                :type="show ? 'password' : 'text'"
                class="text-md block px-3 py-2 rounded-lg w-full bg-white border-2 border-gray-300 placeholder-gray-600 shadow-md focus:placeholder-gray-500 focus:bg-white focus:border-gray-600 focus:outline-none"
              />
              <div
                class="absolute inset-y-0 right-0 pr-3 flex items-center text-sm leading-5"
              >
                <svg
                  class="h-6 text-gray-700"
                  fill="none"
                  @click="show = !show"
                  :class="{'hidden': !show, 'block':show }"
                  xmlns="http://www.w3.org/2000/svg"
                  viewbox="0 0 576 512"
                >
                  <path
                    fill="currentColor"
                    d="M572.52 241.4C518.29 135.59 410.93 64 288 64S57.68 135.64 3.48 241.41a32.35 32.35 0 0 0 0 29.19C57.71 376.41 165.07 448 288 448s230.32-71.64 284.52-177.41a32.35 32.35 0 0 0 0-29.19zM288 400a144 144 0 1 1 144-144 143.93 143.93 0 0 1-144 144zm0-240a95.31 95.31 0 0 0-25.31 3.79 47.85 47.85 0 0 1-66.9 66.9A95.78 95.78 0 1 0 288 160z"
                  ></path>
                </svg>

                <svg
                  class="h-6 text-gray-700"
                  fill="none"
                  @click="show = !show"
                  :class="{'block': !show, 'hidden':show }"
                  xmlns="http://www.w3.org/2000/svg"
                  viewbox="0 0 640 512"
                >
                  <path
                    fill="currentColor"
                    d="M320 400c-75.85 0-137.25-58.71-142.9-133.11L72.2 185.82c-13.79 17.3-26.48 35.59-36.72 55.59a32.35 32.35 0 0 0 0 29.19C89.71 376.41 197.07 448 320 448c26.91 0 52.87-4 77.89-10.46L346 397.39a144.13 144.13 0 0 1-26 2.61zm313.82 58.1l-110.55-85.44a331.25 331.25 0 0 0 81.25-102.07 32.35 32.35 0 0 0 0-29.19C550.29 135.59 442.93 64 320 64a308.15 308.15 0 0 0-147.32 37.7L45.46 3.37A16 16 0 0 0 23 6.18L3.37 31.45A16 16 0 0 0 6.18 53.9l588.36 454.73a16 16 0 0 0 22.46-2.81l19.64-25.27a16 16 0 0 0-2.82-22.45zm-183.72-142l-39.3-30.38A94.75 94.75 0 0 0 416 256a94.76 94.76 0 0 0-121.31-92.21A47.65 47.65 0 0 1 304 192a46.64 46.64 0 0 1-1.54 10l-73.61-56.89A142.31 142.31 0 0 1 320 112a143.92 143.92 0 0 1 144 144c0 21.63-5.29 41.79-13.9 60.11z"
                  ></path>
                </svg>
              </div>
            </div>
          </div>
          <div class="mb-10">
            <input
              type="submit"
              value="Sign In"
              class="w-full rounded-md border bordder-primary py-3 px-5 bg-primary text-base text-black font-bold cursor-pointer hover:bg-opacity-90 transition"
            />
          </div>
        </form>
        <a
          href="/forgot"
          class="text-base inline-block mb-2 text-[#adadad] hover:underline hover:text-primary"
        >
          Forget Password?
        </a>
        <p class="text-base text-[#adadad]">
          Not a member yet?
          <a href="/signup" class="text-primary hover:underline"> Sign Up </a>
        </p>
        <div>
          <span class="absolute top-1 right-1">
            <svg
              width="40"
              height="40"
              viewBox="0 0 40 40"
              fill="none"
              xmlns="http://www.w3.org/2000/svg"
            >
              <circle
                cx="1.39737"
                cy="38.6026"
                r="1.39737"
                transform="rotate(-90 1.39737 38.6026)"
                fill="#3056D3"
              />
              <circle
                cx="1.39737"
                cy="1.99122"
                r="1.39737"
                transform="rotate(-90 1.39737 1.99122)"
                fill="#3056D3"
              />
              <circle
                cx="13.6943"
                cy="38.6026"
                r="1.39737"
                transform="rotate(-90 13.6943 38.6026)"
                fill="#3056D3"
              />
              <circle
                cx="13.6943"
                cy="1.99122"
                r="1.39737"
                transform="rotate(-90 13.6943 1.99122)"
                fill="#3056D3"
              />
              <circle
                cx="25.9911"
                cy="38.6026"
                r="1.39737"
                transform="rotate(-90 25.9911 38.6026)"
                fill="#3056D3"
              />
              <circle
                cx="25.9911"
                cy="1.99122"
                r="1.39737"
                transform="rotate(-90 25.9911 1.99122)"
                fill="#3056D3"
              />
              <circle
                cx="38.288"
                cy="38.6026"
                r="1.39737"
                transform="rotate(-90 38.288 38.6026)"
                fill="#3056D3"
              />
              <circle
                cx="38.288"
                cy="1.99122"
                r="1.39737"
                transform="rotate(-90 38.288 1.99122)"
                fill="#3056D3"
              />
              <circle
                cx="1.39737"
                cy="26.3057"
                r="1.39737"
                transform="rotate(-90 1.39737 26.3057)"
                fill="#3056D3"
              />
              <circle
                cx="13.6943"
                cy="26.3057"
                r="1.39737"
                transform="rotate(-90 13.6943 26.3057)"
                fill="#3056D3"
              />
              <circle
                cx="25.9911"
                cy="26.3057"
                r="1.39737"
                transform="rotate(-90 25.9911 26.3057)"
                fill="#3056D3"
              />
              <circle
                cx="38.288"
                cy="26.3057"
                r="1.39737"
                transform="rotate(-90 38.288 26.3057)"
                fill="#3056D3"
              />
              <circle
                cx="1.39737"
                cy="14.0086"
                r="1.39737"
                transform="rotate(-90 1.39737 14.0086)"
                fill="#3056D3"
              />
              <circle
                cx="13.6943"
                cy="14.0086"
                r="1.39737"
                transform="rotate(-90 13.6943 14.0086)"
                fill="#3056D3"
              />
              <circle
                cx="25.9911"
                cy="14.0086"
                r="1.39737"
                transform="rotate(-90 25.9911 14.0086)"
                fill="#3056D3"
              />
              <circle
                cx="38.288"
                cy="14.0086"
                r="1.39737"
                transform="rotate(-90 38.288 14.0086)"
                fill="#3056D3"
              />
            </svg>
          </span>
          <span class="absolute left-1 bottom-1">
            <svg
              width="29"
              height="40"
              viewBox="0 0 29 40"
              fill="none"
              xmlns="http://www.w3.org/2000/svg"
            >
              <circle
                cx="2.288"
                cy="25.9912"
                r="1.39737"
                transform="rotate(-90 2.288 25.9912)"
                fill="#3056D3"
              />
              <circle
                cx="14.5849"
                cy="25.9911"
                r="1.39737"
                transform="rotate(-90 14.5849 25.9911)"
                fill="#3056D3"
              />
              <circle
                cx="26.7216"
                cy="25.9911"
                r="1.39737"
                transform="rotate(-90 26.7216 25.9911)"
                fill="#3056D3"
              />
              <circle
                cx="2.288"
                cy="13.6944"
                r="1.39737"
                transform="rotate(-90 2.288 13.6944)"
                fill="#3056D3"
              />
              <circle
                cx="14.5849"
                cy="13.6943"
                r="1.39737"
                transform="rotate(-90 14.5849 13.6943)"
                fill="#3056D3"
              />
              <circle
                cx="26.7216"
                cy="13.6943"
                r="1.39737"
                transform="rotate(-90 26.7216 13.6943)"
                fill="#3056D3"
              />
              <circle
                cx="2.288"
                cy="38.0087"
                r="1.39737"
                transform="rotate(-90 2.288 38.0087)"
                fill="#3056D3"
              />
              <circle
                cx="2.288"
                cy="1.39739"
                r="1.39737"
                transform="rotate(-90 2.288 1.39739)"
                fill="#3056D3"
              />
              <circle
                cx="14.5849"
                cy="38.0089"
                r="1.39737"
                transform="rotate(-90 14.5849 38.0089)"
                fill="#3056D3"
              />
              <circle
                cx="26.7216"
                cy="38.0089"
                r="1.39737"
                transform="rotate(-90 26.7216 38.0089)"
                fill="#3056D3"
              />
              <circle
                cx="14.5849"
                cy="1.39761"
                r="1.39737"
                transform="rotate(-90 14.5849 1.39761)"
                fill="#3056D3"
              />
              <circle
                cx="26.7216"
                cy="1.39761"
                r="1.39737"
                transform="rotate(-90 26.7216 1.39761)"
                fill="#3056D3"
              />
            </svg>
          </span>
        </div>
      </div>
    </section>
    <!-- ====== Forms Section End -->
  </body>
  <script
    src="https://cdn.jsdelivr.net/gh/alpinejs/alpine@v2.x.x/dist/alpine.js"
    defer
  ></script>
</html>
